<div class="an-container" [ngClass]="{'an-side-panel-open': menuOpen}" >
  <div class="an-side-pusher">
    <div class="an-side-panel">
      <ng-content select=".an-side-panel"></ng-content>
    </div>
    <div class="menu-btn-container" (click)="togglePanel()">
      <an-btn-burger [toggled]="menuOpen"></an-btn-burger>
    </div>
    <!--Content container-->
    <div class="an-content">
      <div class="an-content-inner">
        <ng-content select=".an-content-inner"></ng-content>
      </div>
    </div>
    <!--END: Content container-->
  </div>
</div>