<div class="an-container" [ngClass]="{'an-side-panel-open': menuOpen}" >
  <div class="an-side-pusher">
    <!--Side panel-->
    <div class="an-side-panel">
      <ng-content select=".an-side-panel"></ng-content>
    </div>
    <!--END: Side panel-->
    <!--Burger button-->
    <div class="menu-btn-container">
      <div>
        <an-btn-burger [toggled]="menuOpen" (click)="togglePanel()"></an-btn-burger>
      </div>
    </div>
    <!--Burger button-->
    <!--END: Content container-->
    <div class="an-content">
      <ng-content select=".an-content"></ng-content>
    </div>
    <!--END: Content container-->
  </div>
</div>